*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 50px 50px;
    height: 70px;
    align-items: center;
    
}
.logo{
    flex: 1;
}
.menu{
    flex: 3;
    display: flex;
}
.menu > li{
    padding:  2px 10px;
    position: relative;
}
.menu > li:hover .sub-menu{
    display: block;
}
.sub-menu{
    position: absolute;
    width: 150px;
    border: 1px solid #ccc;
    padding: 5px 0 8px 5px;
    display:  none;
    background-image: linear-gradient(to top, #ffffff, #c8c8cc,#ffffff)
    

}
.sub-menu li a{
    font-weight: normal;
}
.sub-menu ul{
    padding-left: 20px ;
}
.menu > li > a {
    font-size: 15px;
    font-weight: bold!important;
    display: block;
    line-height: 15px;
    
}
.other{
    flex: 1;
    display: flex;

}

.other > li:first-child{
    position: relative;
}
.other > li:first-child > i{
    position: absolute;
    right: 21px;
}
.other > li:first-child > input{
    padding-top: 3px;
    width: 100%;
    border:  none; 
    border-bottom: 1px solid #333;
}
.other > li{
    padding:  0px 20px;

}
#Slider{
    padding-bottom: 30px;
    overflow: hidden;
    
    

}
.aspect-ratio-169 {
    display: block;
    position: relative;
    padding-top: 56.25%;
    transition: 0.35s;
    z-index: -1;
    
  }
  
  .aspect-ratio-169 img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
  }
  .dot-container{
    position: absolute;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.dot{
    height: 15px;
    width: 15px;
    background-color: #CCC;
    border-radius: 50%;
    margin: 12px;
    cursor: pointer;
}
.dot.active{
    background-color: #333;
}


.row{
    display: flex;
    flex-wrap: wrap;
  }

footer{
    text-align: center;
    margin-top: 525px;
    background-color:rgb(223, 207, 184);
    padding: 10px;
    border-radius: 10px;
}

/* -----category....-  */
.cartegory{
    padding: 100px 0 0;
    border-top: 10px solid rgb(225, 188, 155);
}
.cartegory-left{
    width: 20%;
    padding-left: 20px;
}
.cartegory-right{
    width: 80%;
}
.cartegory-right-top-item{
    flex: 1;
    padding: 0 12px;
}
.cartegory-right-top-item button{
    width: 20%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    cursor: pointer;
    
}
.cartegory-right-top-item select{
    width: 27%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    cursor: pointer;
}
.sanpham{
    margin-top: 20px;
    justify-content: space-between;

}
.cartegory-right-content-item{
    width: calc(25% - 12px);
    text-align: center;
    padding: 12px 0;
}
.cartegory-right-content-item h1{
    font-size: 13px;
    font-family: var(--main-text-font);
    margin-top: 6px;
    color: #333333;
}
.cartegory-right-content-item img{
    width: 100%;
}
.cartegory-right-content-item p{
    font-size: 15px;
}
.cartegory-left ul li{
    padding: 12px 0;

}
.cartegory-left ul li>a {
    color: black;
    font-size:  16px;
    font-weight: bold;
    font-family: var(--main-text-font);
}
.cartegory-left ul li ul li{
    padding-left: 10px;
}

/* --------------product--- trang sp chitiet---- */
.product{
    padding: 100px 0;

}
.product-content-left{
    width: 50%;
}

.product-content-left-img{
    width: 80%;
    margin-right: 20px;
}
.product-content-right{
    width: 50%;
    padding-left: 20px;

}
.product-content-right-product-name h1{
    font-family: var(--main-text-font);
    font-size: 40px;
}
.product-content-right-product-name p{
    color: #cccccc  ;
    font-size: 12px;

}
.product-content-right-product-price   {
    margin: 12px 0;
    font-size: 20px;
    font-weight: bold;
    font-family: var(--main-text-font);
}
.product-content-right-product-button button{
    width: 250px;
    height: 60px;
    display: block;
    margin: 25px 0 20px;
    transition: all 0.5s ease;
}
.product-content-right-product-button button:first-child{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(219, 197, 126);
    border: 2px solid rgb(56, 62, 42);
    cursor: pointer;

}
.product-content-right-product-button button:first-child:hover{
    background-color: #441919;
    color: #ffff;
}

.product{
    border-top: 10px solid rgb(215, 186, 139);
}
.product-content-right-bottom-content-chitiet{
    margin: 20px 0  ;
    font-size: 30px;
}
.sidebar{
    border: 1px solid #e1ff00af;
    height: 390px;
    width: 20%;
    margin-top: 5px;
    margin-left: 5px;
    float: left;
    background: #bfbfbf;
}
.product_list {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
}

/* Thiết lập kiểu hiển thị của từng sản phẩm */
.product_list li {
    width: 23%;
    border: 2px dashed black;
    margin: 7px;
    float: left;
    background: #f2f2f2;
    height: auto;
    border-radius: 15px;
}

/* Kích thước hình ảnh sản phẩm */
.product_list img {
    width: 100%;
    height: 350px;

}

.product_list{
    padding-bottom: 25px;
}
/* Phần mô tả sản phẩm */
.product_list .title_product,
.product_list .price_product {
    margin-top: 10px;
    text-align: center;
}

/* Phần mô tả sản phẩm dưới mỗi hình ảnh */
.product_list a {
    text-decoration: none;
    color: #333; /* Màu chữ sản phẩm */
}
.content-heading-button {
    display: flex;
    justify-content: center;
    /* Thêm các thuộc tính khác nếu cần */
}

/* CSS để làm đẹp các button */
.content-heading-button button {
    margin: 5px; /* Tạo khoảng cách giữa các button */
    padding: 10px 20px; /* Điều chỉnh padding theo ý muốn */
    /* Thêm các thuộc tính khác nếu cần */
}
/* ----------- sổ menu------------- */

  
